<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pendientes}}</strong> Pendientes</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li (click)="cambiarFiltro(filtro)" *ngFor='let filtro of filtros'>
        <a   [ngClass]="{'selected': filtroActual === filtro}" class="selected" >{{ filtro }}</a>
      </li>
      
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button [hidden]="!(pendientes < totalTodos)" (click)="borrarCompletados()" class="clear-completed">Borrar completados</button>
  </footer>